<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
        <input id="title" type="text" placeholder="Task Title" name="title" class="form-control" />
        <br />
        <button id="new-task" class="btn btn-success">Add Task</button>      
    </div>
</div>
<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Status</th>
    </tr>
</table>

@section Scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/index.js"></script>
}